<!DOCTYPE html>

<html>

<head>

<title>
Breast Cancer Detection
</title>

<link rel="stylesheet"
href="/static/style.css">

</head>


<body>


<div class="container">


<h1>
Breast Cancer Detection
</h1>


<form action="/predict" method="POST">


<input 
name="radius_mean"
placeholder="Radius Mean"
required>


<input 
name="texture_mean"
placeholder="Texture Mean"
required>



<input 
name="perimeter_mean"
placeholder="Perimeter Mean"
required>


<input 
name="Area Mean"
placeholder="Area Mean"
required>


<input 
name="smoothness_mean"
placeholder="Smoothness Mean"
required>



<button>
Predict
</button>


</form>



{% if prediction %}

<h2>
Result:
{{prediction}}
</h2>

{% endif %}


</div>


</body>

</html>